<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>{% block title %}Les petits hauts de Ju{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
              integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/lightslider.css') }}">
        <script type="text/javascript" src="{{ asset('JS/Jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/lightslider.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
<div id="circularMenu1" class="circular-menu circular-menu-center">

    <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
        <i class="fa fa-bars"></i>
    </a>

    <menu class="items-wrapper">
        <a href="{{ path('index') }}" class="menu-item fa fa-home"></a>
        <a href="{{ path('magasin') }}" class="menu-item fas fa-shopping-cart"></a>
        <a href="#" class="menu-item fas fa-book"></a>
        {% if statut =="connecte" %}
            <a href="{{ path('deconnexion') }}" class="menu-item fa fa-sign-out-alt"></a>
        {% endif %}
        {% if statut == "deconnecte" %}
            <a href="{{ path('connexion') }}" class="menu-item fas fa-user"></a>
        {% endif %}
    </menu>

</div>

<div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
        <i class="fa fa-plus"></i>
    </a>

    <menu class="items-wrapper">
        <a href="{{ path('administration') }}" class="menu-item fas fa-tshirt"></a>
        <a href="{{ path('administration_user') }}" class="menu-item fas fa-users"></a>
        <a href="{{ path('administration_facture') }}" class="menu-item fas fa-file-invoice-dollar"></a>
        <a href="#" class="menu-item fa fa-linkedin"></a>
    </menu>
</div>
</body>
</html>