{% extends 'base.html.twig' %}
{% block body %}

    <div id="container-detail-produit" class="container">

        <div class="row">
            <div class="col-md-5">
                <img class="d-block w-100" src="{{ asset(image) }}">
            </div>
            <div class="col-md-7">
                <p class="newarrival text-center">NEW</p>
                <h2>{{ name }}</h2>
                <p class="pricebis"><b>Prix :</b> {{ price }}€</p>
                <p><b>Disponible:</b> {{ stock }}</p>
                <button type="button" class="btn btn-default cart">Commander</button>
                    <a href="{{ path('magasin') }}" type="button" class="btn btn-default cancel">Retour au magasin</a>
            </div>
        </div>
    </div>
{% endblock %}