{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        {% if notif_erreur !="" %}
            <div class="alert alert-danger" role="alert">
                <p class="text-danger" style="display: inline"><strong>{{ notif_erreur }}</strong></p>
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <label>Email</label>
                    <input id="stock" name="email" type="text" maxlength="100"
                           class="form-control">
                </div>
                <div class="col-md-12">
                    <label>Mot de passe</label>
                    <input id="password" name="password" type="password" maxlength="50"
                           class="form-control">
                </div>
                <div class="col-md-12">
                    <br>
                    <input type="button" class="btn btn-success" value="Se connecter"
                           onclick="this.form.action='';this.form.submit();">
                </div>
            </div>
        </form>
        <p>Pas encore de compte ? <a href="{{ path('inscription') }}">S'inscrire</a></p>
    </div>

{% endblock %}