{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        {% if notif_erreur !="" %}
        <div class="alert alert-danger" role="alert">
            {{ notif_erreur}}
        </div>
        {% endif %}
        {% if notif_reussite !="" %}
        <div class="alert alert-success" role="alert">
            {{ notif_reussite }}
        </div>
        {% endif %}
        <form class="form-horizontal" role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <label>Nom du produit</label>
                    <input id="name" name="name" type="text" maxlength="50" value="{{ name }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Description du produit</label>
                    <input id="description" name="description" type="text" maxlength="150" value="{{ description }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Prix du produit</label>
                    <input id="price" name="price" type="text" maxlength="10" value="{{ price }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Quantité en stock</label>
                    <input id="stock" name="stock" type="text" maxlength="10" value="{{ stock }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Image du produit</label>
                    <input id="image" name="image" type="text" maxlength="50" value="{{ image }}"
                           class="form-control">
                </div>
                <div class="col-md-12">
                    <br>
                    <input type="button" class="btn btn-success" value="Ajouter"
                           onclick="this.form.action='';this.form.submit();">
                </div>
            </div>
        </form>
    </div>

{% endblock %}