<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>
        Les petits hauts de Ju
    </title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/style.css') }}" />
</head>
<body>

<div class="container-fluid banner">
    <br>
    <img src="{{ asset('img/IMG_1493.png') }}" alt="" class="logo">
    <div class="row">
        <div class="col-md-8 offset-md-2 info">
            <h1 class="text-center">Les petits hauts de Ju</h1>
            <p class="text-center">
                Bienvenue, <b>{% if pseudo is defined %}{{ pseudo }} {% endif %}</b> sur la boutique des Petits hauts de Ju !
            </p>
        </div>
    </div>
    <div id="circularMenu1" class="circular-menu circular-menu-center">

        <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
            <i class="fa fa-bars"></i>
        </a>

        <menu class="items-wrapper">
            <a href="{{ path('index') }}" class="menu-item fa fa-home"></a>
            <a href="{{ path('magasin') }}" class="menu-item fas fa-shopping-cart"></a>
            <a href="#" class="menu-item fas fa-book"></a>
            {% if statut =="connecte" %}
                <a href="{{ path('deconnexion') }}" class="menu-item fa fa-sign-out-alt"></a>
            {% endif %}
            {% if statut == "deconnecte" %}
                <a href="{{ path('connexion') }}" class="menu-item fas fa-user"></a>
            {% endif %}
        </menu>

    </div>

    <div id="circularMenu" class="circular-menu">

        <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
            <i class="fa fa-plus"></i>
        </a>

        <menu class="items-wrapper">
            <a href="{{ path('administration') }}" class="menu-item fas fa-tshirt"></a>
            <a href="{{ path('administration_user') }}" class="menu-item fas fa-users"></a>
            <a href="{{ path('administration_facture') }}" class="menu-item fas fa-file-invoice-dollar"></a>
            <a href="#" class="menu-item fa fa-linkedin"></a>
        </menu>

    </div>
</div>
</body>