{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        {% if notif_erreur !="" %}
            <div class="alert alert-danger" role="alert">
                <p class="text-danger" style="display: inline"><strong>{{ notif_erreur}}</strong></p>
            </div>
        {% endif %}
        {% if notif_reussite !="" %}
            <div class="alert alert-success" role="alert">
                {{ notif_reussite }}
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <label>Nom</label>
                    <input id="name" name="name" type="text" maxlength="20" value="{{ name }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Prénom</label>
                    <input id="surname" name="surname" type="text" maxlength="20" value="{{ surname }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Identifiant</label>
                    <input id="pseudo" name="pseudo" type="text" maxlength="22" value="{{ pseudo }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Email</label>
                    <input id="stock" name="email" type="text" maxlength="100" value="{{ email }}"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <label>Mot de passe</label>
                    <input id="password" name="password" type="password" maxlength="50" value="{{ password }}"
                           class="form-control">
                </div>
                <div class="col-md-12">
                    <br>
                    <input type="button" class="btn btn-success" value="S'inscrire"
                           onclick="this.form.action='';this.form.submit();">
                </div>
            </div>
        </form>
    </div>

{% endblock %}