{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        <form method="post" action="{{ path('administration_edit_bis') }}">
            <div class="row">
                <div class="col-md-2.5">
                <legend>
                    Ajouter un produit :
                </legend>
                </div>
                <div class="col-md-2">
                <input type="submit" class="btn btn-success" value="Ajouter">
                </div>
            </div>
        </form>
        <div class="form-group col-md-12">
            <table class="table-sm table-bordered table-hover">
                <tr>
                    <th>Supprimer</th>
                    <th>Editer</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Stock</th>
                </tr>

                {% for arrProduct in arrProducts %}
                    <tr>
                        <td align="center">
                            <form method="post">
                                <button type="submit" name="id" value="{{ arrProduct.id }}"
                                        class="btn btn-link form-control" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"><i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        <td align="center">
                            <form method="post" action="{{ path('administration_edit') }}">
                                <button type="submit" id="id" name="id" value="{{ arrProduct.id }}"
                                        class="btn btn-link form-control"><i class="fas fa-edit"></i>
                                </button>
                            </form>
                        </td>
                        <td>{{ arrProduct.name }}</td>
                        <td>{{ arrProduct.price }}</td>
                        <td>{{ arrProduct.stock }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}