{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        <div class="form-group col-md-12">
            <table class="table-sm table-bordered table-hover">
                <tr>
                    <th>Supprimer</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>

                {% for arrUser in arrUsers %}
                    <tr>
                        <td align="center">
                            <form method="post">
                                <button type="submit" name="id" value="{{ arrUser.id }}"
                                        class="btn btn-link form-control" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"><i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        <td>{{ arrUser.pseudo }}</td>
                        <td>{{ arrUser.name }}</td>
                        <td>{{ arrUser.surname }}</td>
                        <td>{{ arrUser.email }}</td>
                        <td>{{ arrUser.role }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}