{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        <div class="form-group col-md-12">
            <table class="table-sm table-bordered table-hover">
                <tr>
                    <th>Supprimer</th>
                    <th>Commanditaire</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>date</th>
                </tr>

                {% for arrFacture in arrFactures %}
                    <tr>
                        <td align="center">
                            <form method="post">
                                <button type="submit" name="id" value="{{ arrFacture.id }}"
                                        class="btn btn-link form-control" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"><i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        <td>{{ arrFacture.commanditaire }}</td>
                        <td>{{ arrFacture.produit }}</td>
                        <td>{{ arrFacture.price }}</td>
                        <td>{{ arrFacture.date }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}