{% extends 'base.html.twig' %}
{% block body %}
    <!--doctype html-->
    <section class="slider">
        <ul id="autoWidth" class="cs-hidden">
            <!--1------------------------------------>
            {% for arrProduct in arrProducts %}
            <li class="item-a">
                <!--box-slider--------------->
                <div class="box">
                    <!--img-box---------->
                    <div class="slide-img">
                        <img alt="1" src="{{ asset(arrProduct.image) }}">
                        <!--overlayer---------->
                        {% if arrProduct.stock !=0 %}
                        <div class="overlay">
                            <!--buy-btn------>
                            <a href="{{ path('commande',{id:arrProduct.id}) }}" class="buy-btn-bis">Commander</a>
                        </div>
                        {% else %}
                        <div class="overlaybis">
                            <!--buy-btn------>
                            <a href="#" class="buy-btn-bis">Plus de stock</a>
                        </div>
                        {% endif %}
                    </div>
                    <!--detail-box--------->
                    <div class="detail-box">
                        <!--type-------->
                        <div class="type">
                            <a href="#">{{ arrProduct.name }}</a>
                            <span>{{ arrProduct.description }}</span>
                            <span>En stock : {{ arrProduct.stock }}</span>
                        </div>
                        <!--price-------->
                        <a href="#" class="price">{{ arrProduct.price }}€</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!--script-link----------->
    <script type="text/javascript" src="{{ asset('JS/script.js') }}"></script>
<br>
{% endblock %}